<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="Views/HomepageStyle.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>New Transaction</title>
        <link rel="icon" href="https://pre00.deviantart.net/9d4a/th/pre/i/2016/172/2/1/team_gurren_lagann_logo_vector_by_iklone-da73gb2.png">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    	
    	<style>
    		.center-screen {
    			display: flex;
    			flex-direction: column;
    			justify-content: center;
    			align-items: center;
    			text-align: center;
    			margin-top: 200px;
  			}

			input {
    			justify-content: center;
			}
			
    	</style>
    
    </head>
    <body style="background-image: url(http://hdqwalls.com/wallpapers/sombrero-galaxy-2d.jpg); background-size: cover">
        <nav>
            <ul class="justify-content-end">
                <li>
                    <a href="http://localhost:8082/P1-Maxwell-Mooney/reimbursements">Reimbursements</a>
                </li>
                <li>
                    <a href="http://localhost:8082/P1-Maxwell-Mooney/employees">Employees</a>
                </li>
                <li>
                    <a href="http://localhost:8082/P1-Maxwell-Mooney/profile"><i class="fas fa-user"></i> Account</a>
                </li>
                <li>
                	<a href="http://localhost:8082/P1-Maxwell-Mooney/logOut">Log Out <i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </nav>
        <div class="layer center-screen" style="margin-top: 70px; margin-left: 14px">
            <form class="justify-content-center" action="newTransaction" method="post">
                <div class="form-group">
                    <label style="text-align: center"><strong>Transaction Date</strong></label>
                    <input required type="date" class="form-control" name="transDate" style="width: 300px">
                </div>
                <div class="form-group">
                    <label style="text-align: center"><strong>Reason</strong></label>
                    <input required type="text" class="form-control" name="transReason">
                </div>
                <div class="form-group">
                    <label style="text-align: center"><strong>Amount</strong></label>
                    <input required type="number" step="0.01" class="form-control" name="transAmount">
                </div>
               	<div class="form-group">
                    <button type="submit" class="btn btn-primary" style="align-content: center">Submit</button>
                </div>
            </form>
        </div>
    </body>
</html>